name: ART Java Main
on:
  push:
    branches:
      - main
jobs:
  gradle-build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        jdk: [ 1.8, 11, 16 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.jdk }}
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew clean build --max-workers 8 --parallel
  gradle-publish:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        jdk: [ 1.8 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.jdk }}
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew clean publish --max-workers 8 --parallel -Ppublisher.username=${publisherUsername} -Ppublisher.password=${publisherPassword} -Pversion=main
        env:
          publisherUsername: ${{ secrets.PUBLISHER_USERNAME }}
          publisherPassword: ${{ secrets.PUBLISHER_PASSWORD }}
